# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
OOP_Laba1/OOP_Laba1/OOP_Laba1.vcxproj.filters
OOP_Laba1/OOP_Laba1/OOP_Laba1.vcxproj
OOP_Laba1/.vs/OOP_Laba1/v16/.suo
OOP_Laba1/.vs/OOP_Laba1/v16/Browse.VC.opendb
OOP_Laba1/.vs/OOP_Laba1/v16/Browse.VC.db-wal
OOP_Laba1/.vs/OOP_Laba1/v16/Browse.VC.db-shm
OOP_Laba1/.vs/OOP_Laba1/v16/Browse.VC.db
OOP_Laba1/.vs/OOP_Laba1/v16/ipch/AutoPCH/4b04e0b9f9cb8c12/ERROR.ipch
OOP_Laba1/.vs/OOP_Laba1/v16/ipch/AutoPCH/5953c3871a43941b/INTERFACE.ipch
OOP_Laba1/.vs/OOP_Laba1/v16/ipch/AutoPCH/8dee83a314272b93/QUEUE.ipch
OOP_Laba1/.vs/OOP_Laba1/v16/ipch/AutoPCH/95aa8a93f8af4bbc/OOP_LABA1.ipch
OOP_Laba1/Debug/OOP_Laba1.ilk
OOP_Laba1/Debug/OOP_Laba1.pdb
OOP_Laba1/OOP_Laba1.sln
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.exe.recipe
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.log
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/CL.command.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/CL.read.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/CL.write.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/link.command.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/link.read.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/link.write.1.tlog
OOP_Laba1/OOP_Laba1/Debug/OOP_Laba1.tlog/OOP_Laba1.lastbuildstate
OOP_Laba1/OOP_Laba1/Debug/vc142.idb
OOP_Laba1/OOP_Laba1/Debug/vc142.pdb
OOP_Laba1/OOP_Laba1/OOP_Laba1.vcxproj.user
